body {
	margin: 5px 10px 5px 30px;
}
div.gallery {
  padding: 20px;
}

.column {
  float: left;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

a.lightbox img {
height: 100px;
padding-right: 10px;

}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
position: absolute;
top: -100%;
width: 100%;
background: rgba(0,0,0,.7);
opacity: 0;
overflow: hidden;
}
