<style type="text/css">

/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}


 .col-lg-1{

  border: 1px solid black;
  background-color: #00FFFF;
  width: 20%;
  height: 200px;
  margin-left:200px;
  margin-top:50px;
  font-family: Helvetica;
  color: black;
  text-align:center;
  
}

.col-lg-2{

  border: 1px solid black;
  background-color: #00FFFF;
  width: 20%;
  height: 200px;
  margin-left:50px;
  margin-top:50px;
  font-family: Helvetica;
  color: black;
  text-align:center;
  
}

.col-lg-3{

  border: 1px solid black;
  background-color: #00FFFF;
  width: 20%;
  height: 200px;
  margin-left:50px;

  margin-top:50px;
  font-family: Helvetica;
  color: black;
  text-align:center;
  
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

h2 {
  text-align:right;
}
@media (min-width:1200px ){
  .col-lg-1,.col-lg-2,.col-lg-3{
    float:left;
  }
   .col-lg-1{
    width:20%;
  
  }
}
.col-lg-2{
    width:20%;
  }
}
.col-lg-3{
    width:20%;
  }
}


@media (min-width:768px) and (max-width:991px){
  .col-lg-1,.col-lg-2,.col-lg-3{
    float:left;
  }
  .col-lg-1{
    width:20%;
  }
}
.col-lg-2{
    width:20%;
  }
}
.col-lg-3{
    width:100%;
  }
}


@media (max-width:767px){
  .col-lg-1,.col-lg-2,.col-lg-3{
    float:left;
  }
  .col-lg-1{

    width:20%;
  }

.col-lg-2{

    width:20%;
  }

.col-lg-3{
    width:20%;
  }
}



</style>
